@font-face{
    font-family:"AurulentSans";
    src:url("/fonts/AurulentSans-Regular.otf");
}
@font-face{
    font-family:"AurulentSans-bold";
    src:url("/fonts/AurulentSans-Bold.otf");
}
@font-face{
    font-family:"AurulentSans-italic";
    src:url("/fonts/AurulentSans-Italic.otf");
}

html, body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    font-size: 1em;
    line-height:1.5em;
    font-family: AurulentSans, Trebuchet, Tahoma, Verdana, Arial, sans-serif;
}


body {
    font: AurulentSans, Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    background-color: #f3f3f3;
    padding: 0;
    color:#666666;
    font-size: 1em;
    line-height:1.5em;
    text-align:left;
}

body * {
    line-height:1.22em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: AurulentSans, Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    color:#666666;
    clear: both;
}

h1 {

}

h2 {
    color: #666666;
}

h3 {
}

h4 {
    color: #666666;
    margin-bottom: -10px;
}

p {
    margin: 10px 0;
    color:#666666;
    clear: both;
}

ul, ol {
    margin-left: 0;
    /*list-style: none;*/
    padding-left:10px;
    /*text-transform:capitalize;*/
}
ul li{
    color:#666666;
}
ul li a{
    color:#666666;
    text-decoration: none;
    font-style:italic;
}
ul li a:hover {
    color:#f1b836;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
ul ul {
    margin-bottom: 20px;
}
#wrap {
    color: #666666;
    /*margin: 0 12%;*/
    margin: 20px 40px;
}

a {
    color: #f1b836;
}

table {
    font-size: 1em;
    line-height:125%;
    //border: 1px solid #c8c8c8;
}

th {
    background: #d8d8d8;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

td {
    background: #f8f8f8;
    text-align: left;
    font-size: 1em;
    line-height:125%;
    /*padding: 5px;*/
    /*vertical-align: top;*/
}

select, form input[type=text], form input[type=password] ,form input[type=number] , textarea {
    font-family: AurulentSans, Trebuchet, Tahoma, Verdana, Arial, sans-serif;
/*    border: 1px solid #CCCCCC;*/
    box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 4px;
}

pre, code, tt, dt {
    font: 100% monospace;
    margin: 20px 0;
}

pre, blockquote {
    padding: 15px;
    /*    border:1px solid #666666;*/
    margin: 20px 0;
    border-bottom: 1px dotted #333333;
    border-radius: 5px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}

code{
    background-color:#444444;
    border:solid 1px #666666;
    color:#666666;
}
/*
Custom classes go here
*/
.output_div{
    float:left;width:69%;
    min-height:300px;
    background-color: rgb(25, 26, 26);
    border:solid 1px #444444;
    color:#bbbbbb;
    padding:5px;
}

.main_desc{
    color:#f1b836;
    font-size:40px;
    font-weight:1000;
    border: 1px solid #f1b836;
    padding:10px;
    width:490px;
    margin-bottom:20px;
    border-radius:5px;
    font-family: AurulentSans, Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    font-style:italic;
}
.main_desc a{
    text-decoration:none;
}
.page-header{
    color:#f1b836;
    font-size:45px;
    padding:10px;
    width:100%;
    font-family: AurulentSans, Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    float:left;
    width:45%;
}
.page-header a{
    text-decoration: none;
}
.footer{
    width:100%;
    margin:10px;
}
.clearer{
    clear:both;
}
.content_wrap{
    width:100%;
    min-height:600px;
}
.left_nav{
    width:15%;
    float:left;
}
.center_content{
    width:60%;
    float:left;
}

.right_hot_stuff{
    width:20%;
    min-width:150px;
    float:left;
}
.login{
    width:45%;
    font-size: small;
    float:right;
    text-align: right;
    margin-top:10px;
}
.login-label{
    padding:0px 10px 0px 0px;
    font-size: smaller;
}
.top-nav {
    margin:10px 0px 10px 0px;
    padding:10px 0px 10px 0px;
    background-color: #666666;
}
.top-nav ul li{

    text-decoration: none;

}
.clear-float{
    clear:both;
}
.contentMain{
    padding:0px 0px 0px 10px;
}
form > label{
    display: inline-block; width: 150px;
}
.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.td-total{
    font-weight: bolder;
    border:none;
}

.expensesNav a{
    font-size: smaller;
    color:#666666;
}

.expenseHistoryFilter > form >  div > label{
    display: inline-block; width: 150px;
}

.inline-block{
    display: inline-block;
}

.div-label{
    display: inline-block; width: 150px;
}

three-col{
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    -o-column-count: 3;
    -o-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
}
.success{
    border:1px green solid;
    color:green;
    font-weight: bolder;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}

.failure{
    border:1px red solid;
    color:red;
    font-weight: bolder;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}
.fail-text{
    color:red;
    font-weight: bolder;
}
/* tables */
table.tablesorter {
    font-family:AurulentSans;
    background-color: #f3f3f3;
    margin:10px 0pt 15px;
    font-size: 1em;
    line-height:1.5em;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: 1px solid #FFF;
    font-size: 1em;
    line-height:1.5em;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(/images/third_party/tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/images/third_party/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/images/third_party/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: gray;
    color:#f3f3f3;
}
.checkbox-col {
  width: 250px; /* set to whatever width works for you */
  float: left; /* put the columns next to each other */
  margin-right: 10px; /* add some space between columns */
}
.loading{
    margin:20px;
    height:13px;
    width:208px;
    background-image: url("/images/third_party/thickbox/loadingAnimation.gif");
}

.hidden{
    display:none;
}

/*
* Weather
*/

.weather-forecast{
    width:100%;
    line-height: 20px;
    overflow:scroll;
}
.span-label{
    width:50%;
    display:inline-block;
    text-align:right;
    margin: 0px 5px 0px 0px;
}
.weather-location-label{
    width:200px;
    display:inline-block;
    text-align:left;
    margin: 0px 5px 0px 0px;
}
.weather-forecast thead th{
    text-align:center;
}
.weather-forecast tbody tr td{ 
    padding:0px 5px 0px 5px;
}

#weatherLocationDetails{
    float:left;
    min-width:75%;
    margin:60px 0px 20px 0px;
    min-height:300px;
    padding: 0 10px 10px 10px;
    box-shadow:3px 3px 5px 6px #ccc;
    
}
#weather-locations{
    float:left;
    min-width:400px;
}
.weather-description{
    text-transform:capitalize;
}

/*
* Location
*/
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
#panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }


.location_list_table{
    width:100%;
}

#map { height: 500px; }