.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/
/application/config/database.php
/user_content/*
!user_content/*
user_content/
.vscode
config/database.php
